# SUPABASE POSTGRESQL CONNECTION
DATABASE_URL=postgresql://postgres.your-ref:your-password@aws-0-ap-northeast-2.pooler.supabase.com:6543/postgres

# NEXT PUBLIC SETTINGS
NEXT_PUBLIC_APP_URL=http://localhost:3000
CRON_SECRET=nine_super_secret_cron_key_99
TESTNET_PRIVATE_KEY=your_private_key_here
NEXT_PUBLIC_TOKEN_ADDRESS=
NEXT_PUBLIC_ARCADE_ADDRESS=0x000000000000000000000000000000000000dEaD
NEXT_PUBLIC_RPC_URL=https://rpc.mainnet.chain.robinhood.com
NEXT_PUBLIC_CHAIN_ID=4663
